@font-face {
  font-family: 'helvetica';
  src: url('HelveticaLt.ttf') format('truetype');
}
/*  font-family: 'helvetica', serif; */
 
@font-face {
  font-family: 'isabelle_layne';
  src: url('Isabelle_Layne_Bold.ttf') format('truetype');
}
/*  font-family: 'isabelle_layne', serif; */

@font-face {
  font-family: 'raleway';
  src: url('fonts/Raleway-Light.ttf') format('truetype');
}
/*  font-family: 'raleway', serif; */

@font-face {
  font-family: 'playfair_display';
  src: url('playfair_display.tff') format('truetype');
}
/*  font-family: 'playfair_display', serif; */

@font-face {
  font-family: 'edosz';
  src: url('edosz.ttf') format('truetype');
}
/*  font-family: 'edosz', serif; */

@font-face {
  font-family: 'TravelingTypewriter';
  src: url('TravelingTypewriter.ttf') format('truetype');
}
/*  font-family: 'TravelingTypewriter', serif; */
