.cite{
    margin-top: 20px;
    min-height: 120px;
    display: table;
}
.cite-icon{
    height: 100%;
    width: 60px;
    text-align: center;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}
.cite-content {
    text-align: center;
    padding: 25px;
    font-size: 20px;
    line-height: 1.2;
    display: table-cell;
    min-height: 120px;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-store-outline2:before {
  content: "\e901";
  color: #000;
}
.icon-app-store-filled2:before {
  content: "\e900";
  color: #000;
}
.icon-google-play-outline2:before {
  content: "\e903";
  color: #000;
}
.icon-google-play-filled2:before {
  content: "\e902";
  color: #000;
}

.badge-link2 {
    color: white !important;
    font-size: 50px;
    line-height: 70px;
    display: inline-block;
    text-decoration: none !important;
}
input, textarea{
    padding: 3px;
}