[submodule "lib/system"]
	path = lib/system
	url = https://github.com/webcraftmedia/system.git
[submodule "lib/mail_cannon"]
	path = lib/mail_cannon
	url = https://github.com/webcraftmedia/lib_mail_cannon.git
[submodule "democracy/sai/saimod_mail"]
	path = democracy/sai/saimod_mail
	url = https://github.com/webcraftmedia/saimod_mail.git
