[submodule "lib/system"]
	path = lib/system
	url = https://github.com/webcraftmedia/system.git
[submodule "lib/mail_cannon"]
	path = lib/mail_cannon
	url = https://github.com/webcraftmedia/lib_mail_cannon.git
