RewriteEngine On
#RewriteRule ^fonts/fontawesome-webfont\.ttf$ lib/font_awesome/lib/fonts/fontawesome-webfont.ttf$1 [L]
#RewriteRule ^fonts/fontawesome-webfont\.ttf$ lib/font_awesome/lib/fonts/fontawesome-webfont.ttf$1 [L]
#RewriteRule ^fonts/fontawesome-webfont\.woff$ lib/font_awesome/lib/fonts/fontawesome-webfont.woff$1 [L]
#RewriteRule ^fonts/fontawesome-webfont\.woff2$ lib/font_awesome/lib/fonts/fontawesome-webfont.woff2$1 [L]
#RewriteRule ^fonts/glyphicons-halflings-regular\.ttf$ lib/system/lib/bootstrap/lib/fonts/glyphicons-halflings-regular.ttf$1 [L]
#RewriteRule ^fonts/glyphicons-halflings-regular\.woff$ lib/system/lib/bootstrap/lib/fonts/glyphicons-halflings-regular.woff$1 [L]
#RewriteRule ^fonts/glyphicons-halflings-regular\.woff2$ lib/system/lib/bootstrap/lib/fonts/glyphicons-halflings-regular.woff2$1 [L]

RewriteRule ^invite/([^/]*)$ invite.php?code=$1
RewriteRule ^invite$ invite.php$1

RewriteRule ^(.*)/fonts/fontawesome-webfont(.*)$ lib/system/lib/font_awesome/lib/fonts/fontawesome-webfont$2 [L]
RewriteRule ^sai$ sai.php$1 [L]

RewriteRule ^(.*)files/([^/]+)/([^/]+)$ api.php?call=files&cat=$2&id=$3 [L]
RewriteRule ^(.*)cache/([^/]+)/([^/]+)$ api.php?call=cache&id=$2&ident=$3 [L]