.services-icon {
  text-align: center;
}

.services-icon-info {
  width: 80px;
  height: 80px;
  text-align: center;
  color: #fff;
  font-size: 2em;
  margin: 0 auto;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.services-icon-text h4 {
  color: #212121;
  font-size: 0.9em;
  margin: 1em 0 0;
  font-weight: 600;
  /* text-transform: uppercase;*/
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-align: center;
}

.services-icon:hover div.services-icon-info {
  background: #fff;
  color: #4494d3;
}

.team_div {
  margin-top: 50px;
}
.team_div img {
  width: 100%;
}
.team_info {
  background-color: rgb(237, 237, 245);
  min-height: 105px;
}
.team_info h4 {
  font-weight: bold;
  padding-top: 15px;
  font-size: 20px;
}
.team_links {
  display: none;
  padding-top: 5px;
}
.team_link {
  margin: 5px;
  color: rgb(122, 122, 122);
  font-size: 28px;
}
.team_link:hover {
  text-decoration: none;
  color: rgb(68, 148, 211);
}
.team_link:active {
  color: rgb(68, 148, 211);
}
.team_text {
  color: rgb(162, 162, 162);
  font-size: 15px;
}

#quote-name-about {
  margin: unset;
}

#ri-link-about {
  float: left;
  margin-top: 1vh;
}

#philosophy_title {
  font-size: 45px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 0.05px;
  text-align: center;
  color: #191d20;
  margin: 122px 75px 37px 46.3px;
}

#philosophy_subtitle {
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 0.17px;
  text-align: center;
  color: #4a4a4a;
  margin: 37px 95.5px 110px 99px;
}

#about-statement {
  text-align: center;
  min-height: min-content;
  padding-top: 150px;
}

#statement-content {
  
}
