/*font-family: 'isabelle_layne', serif;*/

body {
  margin: 0;
  padding: 0;
}
.isabelle_layne {
  font-family: 'isabelle_layne', sans-serif;
}
#wrapper {
  width: 100%;
  height: 300px;
  background-color: black;
}

.pointer { cursor: pointer }

.banner_nonpure {
  background: rgba(68,148,211,1); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(68,148,211,1) 0%, rgba(232,232,232,1) 78%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(68,148,211,1) 0%,rgba(232,232,232,1) 78%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(68,148,211,1) 0%,rgba(232,232,232,1) 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e8e8e8',GradientType=0 ); 
}

.banner_nonpure2 {
  background: rgb(68,148,211); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(68,148,211,1) 0%, rgba(232,232,232,1) 214%); 
  background: -webkit-linear-gradient(top, rgba(68,148,211,1) 0%,rgba(232,232,232,1) 214%); 
  background: linear-gradient(to bottom, rgba(68,148,211,1) 0%,rgba(232,232,232,1) 214%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4494d3', endColorstr='#ffffff',GradientType=0 );
}

.wthree-heading h3 {
  opacity: 0.7;
}
.logobox {
  width: 300px;
}
.banner .isabelle_layne { 
  text-align: center;
  font-family: 'isabelle_layne', serif;
  font-size: 21px;
  color: white;
  letter-spacing: 27px;
  padding-left: 26px;
  margin-top: -11px;
  text-shadow: 1px 1px 3px rgb(98,	98,	98);
}
.logobox .edzofont {
  color: white;
  font-size: 46px;
}
.logobox .isabelle_layne {
  font-family: 'isabelle_layne', serif;
  color: #8d8f90;
  font-size: 15px;
  letter-spacing: 11px;
  margin-top: -11px;
}
#sec_vision {
  margin-left: 50px;
}

.headtxt { 
  color: white;
  font-family: 'edosz', cursive;
  font-size: 100px;
  text-shadow:	1px	1px	3px	rgb(98,	98,	98);
  text-align: center;
} 
.edzofont { font-family: 'edosz', cursive; }
.logox{ width: 80px; } 
.banner{ 
  background-size: 100% auto;
  background-position: center;    
}

.w3ls-banner-info {
  padding: 1em 0.5em;
  color: white;
  background-color: rgba( 68,148,211,1 );
}
@media
.w3ls-banner-info img {
  height: 2em;
}

#banner_info{
  background-color: red;
  padding: 2px 0px 1px 6px;
  /* padding-right: 6px; */
  float: right;
  width: 22px;
  position: relative;
  margin-right: -27px;
  margin-top: -44px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: white;
  font-size: .9em;
}

#floatleft {
  float: left;
  clear: both;
}
.blue{
  color: #4494D3;
}
.d_txt{
  padding-top:  200px;
  padding-bottom:  200px;
  
  padding-left: 7%;
  padding-right: 15%;
  overflow: word-wrap.;
}
.welcome-left{
  padding-right: 62px;
  padding-top: 44px;
}
#footersz { width: 50%;}  

.imgUnt {
  margin-top: 100px;
}
.foot_gem {
  color: gray;
  margin-top: -12px;
  position: absolute;
}

/* --- banner --- */

.crowdfunding_details {
  margin: 2em 0 1em;
  font-size: 1rem;
}
.crowdfunding_details img {
  height: 1.8em;
  vertical-align: bottom;
}

/* --- /banner --- */

/* --- MEDIEN --- */

/*
.agile_events_grid .img-responsive {
  border: 1px solid rgba( 68,148,211,1 );
}
*/
.agile_events_grid_pos1 {
  background-color: hsla( 213, 40%, 90%, 1 );
}
.agile_events_grid_pos1 h5,
.w3_agileits_event_head {
  color: hsla( 213, 80%, 40%, 1 );
}
.agile_events_grid_pos,
.agile_events_grid_pos_sub {
  border-bottom-color: #F44336;
}

/* --- /MEDIEN --- */

/* --- SINGLE --- */

.agileits-single-img p {
  margin: 0.5em 0;
  color: #444;
}
.agileits-single-img h5 {
  margin: 1em 0 0.5em;
  font-weight: bold;
  line-height: 1.8;
}
.call_to_action {
  display: inline-block;
  margin: 1em 0;
  padding: 1em 2em;
  width: auto;
  color: white;
  background-color: #082;
  border-radius: 1em;
  text-align: center;
}
.call_to_action:hover {
  color: black;
  background-color: #071;
  text-decoration: none;
}
.call_to_action img {
  width: 8em;
}

@media (max-width:500px) {
  
  .agileinfo-single-icons,
  .agileits-single-img h4,
  .agileits-single-img h5,
  .agileits-single-img p,
  .agileits-single-img a {
    margin-left: 4%;
    margin-right: 4%;
  }
}

/* --- /SINGLE --- */

/* --- Team Grid --- */

.w3_agileits_team_grid {
	margin-top: 2em;
}
.w3_agileits_team-info h4,
.w3_agileits_team-info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
}

.agileinfo_about_text ul {
  list-style: outside none;
}

/* --- //Team Grid --- */


@media(max-width:3500px){	
  .logox{ width: 80px; }
}

@media(max-width:900px){
  .banner{  background-size: auto 100%;   }
  
  .d_txt{
  padding-top:  100px;
  padding-bottom:  100px;                
  padding-left: 4%;
  padding-right: 1%;
  }
  
  .headtxt {  font-size: 80px; }
  .welcome-left{
  padding-right: 0px;
  padding-top: 0px;
  }
  
  .d_txt h2{
  font-size: 1.2em
  }
  #footersz { width: 60%;}  
  .foot_gem {
  
    margin-top: 4px; 
    margin-bottom: 10px;
  
  }
  .banner .isabelle_layne {
    font-size: 18px;
    letter-spacing: 21px;
    padding-left: 17px;
    margin-top: -6px;
  }
}

@media(max-width:700px){	   
  .logox{ width: 60px; } 
  #footersz { width: 70%;}  
}

@media(max-width:500px){
  .logox{ width: 50px; }
  #appinfobox img{
    width: 100%;
  }
  .headtxt {
    font-size: 50px;
  } 
  .d_txt{
    padding-top:  80px;
    padding-bottom:  80px;            
    padding-left: 4%;
    padding-right: 1%;
  }
  #footersz { width: 100%;}  
  
  .welcome-right { padding: 1em; }
  .container {     
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .imgUnt {
    margin-top: 40px;                 
  }
  #sec_vision {
    margin-left: 0px;
  }
  
  .banner .isabelle_layne {
    font-size: 16px;
    letter-spacing: 12px;
    padding-left: 16px;
    margin-top: -4px;
  }
}

@media (max-width:414px) {
}

#youtube_:hover{ 
  color: #c4302b;
}
.facebook_:hover{
  color: #3b5998;
}
#facebook_:hover{
  color:#3b5998;
}
#facebook__:hover{
  color:#3b5998;
}
#facebook___:hover{
  color:#3b5998;
}
#twitter_:hover{
  color:#00acee;
}
.insta_:hover{
  color:#BA3173;
}
#insta_:hover{
  color:#BA3173;
}
#insta__:hover{
  color:#BA3173;
}

#contact_mail a {
	font-size:.9em;
	text-decoration:none;
	color:#fff;
}

#contact_mail a:hover {
	color:#F44336;
}

.welcome-right li:before{
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: large;
    float: left;
    margin-right: 7px;
    color: #CCCCCC;
    margin-top: -2px;
}
.welcome-right li{
    padding-top: 5px;
}