@font-face {
    font-family: 'helvetica';
    src: url('./files/font/HelveticaNeue-Light-08.ttf') format('truetype');
}
@font-face {
    font-family: 'isabelle_layne';
    src: url('./files/font/Isabelle_Layne_Bold.ttf') format('truetype');
}
/*@font-face {
  font-family: 'raleway';
  src: url('fonts/Raleway-Light.ttf') format('truetype');
}*/
/*@font-face {
  font-family: 'playfair_display';
  src: url('./files/font/playfair_display.tff') format('truetype');
}*/
@font-face {
  font-family: 'edosz';
  src: url('./files/font/edosz.ttf') format('truetype');
}
@font-face {
    font-family: 'TravelingTypewriter';
    src: url('./files/font/TravelingTypewriter.ttf') format('truetype');
}
@font-face {
    font-family: "icomoon";
    src:    url("./files/font/icomoon.eot?kp7wew");
    src:    url("./files/font/icomoon.eot?kp7wew#iefix") format("embedded-opentype"),
            url("./files/font/icomoon.ttf?kp7wew") format("truetype"),
            url("./files/font/icomoon.woff?kp7wew") format("woff"),
            url("./files/font/icomoon.svg?kp7wew#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}