/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

body a {
	transition:.5s all;
	-webkit-transition:.5s all;
	-o-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
}

html,body {
	font-size:100%;
	font-family:'helvetica',sans-serif;
}

body {
	background:#FFF;
}

/*-- header-left --*/

.header-left {
	text-align:center;
	margin-top:20px;
}

.w3layouts-logo h1 {
	margin:0;
}

.w3layouts-logo h1 a {
	color:#FFF;
	font-size:1.5em;
	text-decoration:none;
	font-family:'Pacifico',cursive;
	letter-spacing:3px;
}

/*-- //header-left --*/
/*-- top-nav --*/
.top-nav {
	margin:2em 0 0;
	border-bottom:solid 1px rgba(255,255,255,0.2);
}

.top-nav ul {
	padding:0;
	margin:0;
}

.top-nav ul li {
	display:inline-block;
	float:none;
}

.top-nav ul li:nth-child(6) {
	margin-right:0;
}

ul.nav.navbar-nav {
	float:none;
	text-align:center;
	background:none;
}

.navbar-default {
	background:none;
	border:none;
	margin:0;
}

.navbar {
	min-height:0;
}

.navbar-default .navbar-nav > .open > a,.navbar-default .navbar-nav > .open > a:hover,.navbar-default .navbar-nav > .open > a:focus {
	background:none;
	box-shadow:1px 0 0 0 rgba(72,72,72,0);
	outline:none;
	border-right:none;
}

.top-nav ul li a {
	font-size:1em;
	margin:0;
	padding:1em 2em;
	text-decoration:none;
	font-weight:600;
	letter-spacing:1px;
	border-right:none;
}

.top-nav ul li a.list-border {
	border-left:none;
}

.top-nav ul li a:hover {
	color:#F44336!important;
}

.top-nav ul li a.active {
	color:#F44336!important;
	background:none;
}

ul.dropdown-menu {
	background:#212121;
	box-shadow:0 0 0;
	border:none;
	margin:0;
	top:3.8em;
	left:0;
	min-width:128px;
}

ul.dropdown-menu li {
	width:100%!important;
}

.dropdown-menu > li > a {
	display:block;
	padding:.5em 1em!important;
	text-align:center;
	clear:both;
	margin:.2em 0!important;
	font-weight:400;
	line-height:1.42857143;
	color:#FFF!important;
	border:none!important;
}

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus {
	background:#FFF;
}

.dropdown-submenu {
	position:relative;
}

.dropdown-submenu>.dropdown-menu {
	top:0;
	left:103%;
	margin-top:-6px;
	margin-left:-1px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px;
	border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display:block;
}

.dropdown-submenu>a:after {
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-width:5px 0 5px 5px;
	margin-top:5px;
	margin-right:-10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color:#fff;
}

.dropdown-submenu.pull-left {
	float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
}

/*-- //top-nav --*/
/*-- w3-banner --*/
.w3-banner {
	padding:2em 0 0;
	text-align:center;
}

.w3-banner h2 {
	color:#FFF;
	font-size:7em;
	margin:0;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:57px;
}

.w3ls-banner-info {
	border:solid 2px #FFF;
	padding:2em 1em;
	width:63%;
	margin:3em auto 4em;
	background-color:#f5f5f5;
	opacity:.9;
	text-decoration:none;
}

.w3ls-banner-info:hover {
	-webkit-box-shadow:2px 3px 15px 0 rgba(0,0,0,0.47);
	-moz-box-shadow:2px 3px 15px 0 rgba(0,0,0,0.47);
	box-shadow:2px 3px 15px 0 rgba(0,0,0,0.47);
}

.w3ls-banner-info p {
/* color: #FFFFFF; */
	font-size:1.5em;
	margin:0;
	line-height:1.8em;
	font-weight:100;
	text-transform:uppercase;
	letter-spacing:3px;
	color:#black;
	text-align:center;
	font-family:'roboto',sans-serif;
}

.w3ls-button {
	margin:3em auto 0;
	width:60%;
	margin-bottom:-2em;
}

.w3ls-button a {
	color:#212121;
	font-size:1em;
	padding:1em;
	border:solid 2px #fff;
	text-decoration:none;
	margin:0;
	background:#fff;
	display:block;
	letter-spacing:2px;
	font-weight:600;
	text-transform:uppercase;
}

.w3ls-button a:hover {
	color:#FFF;
	background:#F44336;
	border:solid 2px #FFF;
}

/*-- w3-banner --*/
/*-- welcome --*/
.welcome,.services,.testimonial,.w3-events,.about-top,.about-bottom,.team,.gallery,.codes,.typography,.contact-top,.single {
	padding:4em 0;
}

.wthree-heading h3 {
	text-align:center;
	font-size:3em;
	margin:0;
	font-family:'edosz',cursive;
	text-shadow:1px 1px 0 #3a5269;
	color:#4494d3;
}

.welcome-agileitsrow,.w3ls_team_grids {
	margin:4em 0 0;
}

.welcome-right {
	background:#ececec;
	padding:2em;
}

.welcome-w3ls-text p {
	font-size:.9em;
	color:#999;
	line-height:1.8em;
}

.welcome-w3ls-text p span {
	display:block;
	margin:1em 0;
}

.welcome-img {
	padding-left:0;
}

.welcome-img img {
	width:100%;
	border:solid 1px #ececec;
}

.welcome h4 {
	color:#F44336;
	font-size:1.2em;
	margin:0;
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:2px;
}

.welcome-right ul {
	padding:0;
	margin:2em 0 0;
}

.welcome-right ul li {
	display:block;
	font-size:.9em;
	margin-top:.95em;
	color:#999;
}

.welcome-right span.glyphicon {
	font-size:.8em;
	margin-right:1em;
	-webkit-transition:.5s all;
	transition:.5s all;
	-moz-transition:.5s all;
}

.welcome-right ul li:hover span.glyphicon {
	padding-left:.8em;
	margin-right:.2em;
}

/*-- //welcome --*/
/*-- services --*/
.services {
	background:#e8e8e8;
}

.w3-agileits-services-grids,.agile_banner_bottom_grids {
	margin:4em 0 0;
}

.services-icon {
	text-align:center;
}

.services-icon-info {
	width:80px;
	height:80px;
	background:#4494D3;
	text-align:center;
	color:#FFF;
	font-size:2em;
	padding:.6em 0 0;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	margin:0 auto;
	transition:.5s all;
	-webkit-transition:.5s all;
	-o-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
}

.services-icon-text h4 {
	color:#212121;
	font-size:.9em;
	margin:1em 0 0;
	font-weight:600;
/* text-transform: uppercase;*/
	transition:.5s all;
	-webkit-transition:.5s all;
	-o-transition:.5s all;
	-moz-transition:.5s all;
	-ms-transition:.5s all;
        text-align: center;
}

.services-icon:hover div.services-icon-info {
	background:#FFF;
	color:#4494D3;
}

.agile-services-left-grid:last-child {
	margin:4em 0 0;
}

.w3-agile-services-right h5 {
	color:#000;
	font-size:1em;
	line-height:1.8em;
	font-weight:600;
	margin:0 0 1em;
}

.w3-agile-services-right p {
	color:#999;
	font-size:.9em;
	line-height:1.8em;
	margin:0;
}

.w3-agile-services-right p span {
	display:block;
	margin:1em 0 0;
}

/*-- //services --*/
/*-- testimonial --*/
.jarallax {
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.testimonial {
	background-color:#4494D3;
/*
  background: url(../images/bundestag-3.jpg) no-repeat 0px 0px;
  background-size: cover;
position:relative;
  */
}

.testimonial-top {
	text-align:center;
}

i.fa.fa-quote-right {
	font-size:3em;
	color:#FFF;
}

.testimonial-top p {
	color:#fff;
	font-size:2em;
/* line-height: 2em; */
/* margin: 2em auto; */
/* width: 81%; */
	font-weight:300;
}

.testimonial-top h5 {
	color:#fff;
	text-transform:uppercase;
	font-size:1em;
	font-weight:600;
	letter-spacing:1px;
}

.testimonial-top h5 span {
	font-weight:300;
}

/*--slider--*/
#slider2,#slider3 {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	margin:0 auto;
}

.rslides_tabs li:first-child {
	margin-left:0;
}

.rslides_tabs .rslides_here a {
	background:rgba(255,255,255,.1);
	color:#fff;
	font-weight:700;
}

.events {
	list-style:none;
}

.callbacks_container {
	position:relative;
	width:100%;
}

.callbacks {
	position:relative;
	list-style:none;
	overflow:hidden;
	width:100%;
	padding:0;
	margin:0;
}

.callbacks li {
	position:absolute;
	width:100%;
}

.callbacks img {
	position:relative;
	z-index:1;
	height:auto;
	border:0;
}

.callbacks .caption {
	display:block;
	position:absolute;
	z-index:2;
	font-size:20px;
	text-shadow:none;
	color:#fff;
	left:0;
	right:0;
	padding:10px 20px;
	margin:0;
	max-width:none;
	top:10%;
	text-align:center;
}

.callbacks_nav {
	position:absolute;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	bottom:-30%;
	left:0;
	opacity:.6;
	z-index:3;
	text-indent:-9999px;
	overflow:hidden;
	text-decoration:none;
	width:12px;
	height:20px;
}

.callbacks_nav.next {
	left:auto;
	background-position:right top;
	left:0;
}

.callbacks_nav.prev {
	right:auto;
	background-position:left top;
	left:4%;
}

#slider3-pager a {
	display:inline-block;
}

#slider3-pager span {
	float:left;
}

#slider3-pager span {
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:.6;
}

#slider3-pager .rslides_here a {
	background:#FFF;
	border-radius:30em;
	opacity:1;
}

#slider3-pager a {
	padding:0;
}

#slider3-pager li {
	display:inline-block;
}

.rslides {
	position:relative;
	list-style:none;
	overflow:hidden;
	width:100%;
	padding:0;
}

.rslides li {
	-webkit-backface-visibility:hidden;
	position:absolute;
	display:none;
	width:100%;
	left:0;
	top:0;
}

.rslides img {
	height:auto;
	border:0;
}

.callbacks_tabs {
	list-style:none;
	position:absolute;
	top:255px;
	left:545px;
	padding:0;
	margin:0;
	z-index:990;
	display:block;
	text-align:center;
}

.slider-top span {
	font-weight:600;
}

.callbacks_tabs li {
	display:inline-block;
	margin:0;
}

/*----*/
.callbacks_tabs a {
	visibility:hidden;
}

.callbacks_tabs a:after {
	content:"\f111";
	font-size:0;
	visibility:visible;
	display:block;
	height:10px;
	width:10px;
	display:inline-block;
	background:rgba(244,67,54,0.44);
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
}

.callbacks_here a:after {
	height:10px;
	width:10px;
	display:inline-block;
	background:#F44336;
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
}

/*-- slider --*/
/*-- //testimonial --*/
/*-- events --*/
.w3-events {
	position:relative;
	z-index:1;
}

.agile_events_grid {
	width:45%;
	margin:0 auto;
	position:relative;
}

.agile_events_grid img {
	width:100%;
}

.agile_events_grid_pos {
	position:absolute;
	left: -65%;
	top: 10%;
	width: 70%;
	border-bottom: 2px solid #fa3d03;
}

.agile_events_grid_pos_sub {
	position:absolute;
	right: -65%;
	top: 10%;
	width: 70%;
	border-bottom: 2px solid #65b126;
}

.agile_events_grid_pos1 h4 a {
	font-size:1em;
	letter-spacing:1px;
	color:#212121;
	text-transform:uppercase;
	line-height:1.5em;
	font-weight:600;
	text-decoration:none;
}

.agile_events_grid_pos1 h4 a:focus {
	outline:none;
}

.agile_events_grid_pos1 h4 a:hover {
	color:#fa3d03;
}

.agile_events_grid_pos1 h4 {
	margin:1em 0 0;
}

.agile_events_grid_pos1 p {
	color:#999;
	line-height:1.8em;
	font-size:.9em;
	margin:1em 0 0;
}

.agile_events_grid_pos1 {
	padding:2em;
	background:#e3e3e3;
}

.agile_events_grid_pos1 h5 {
	font-size:1em;
	color:#FF9800;
	font-weight:600;
	position:relative;
}

.agile_events_grid_pos1 h5 span {
	font-size:3em;
	padding-right:.5em;
}

.w3_agileits_event_head {
	color:#65b126;
}

.w3_agileits_event_head:after {
	background:#65b126;
}

.agileits_w3layouts_events_grid_social,.agileits_w3layouts_events_grid_social_sub {
	position:absolute;
	top:0;
	background:#F44336;
	padding:1em;
}

.agileits_w3layouts_events_grid_social {
	right:-7.5%;
}

.agileits_w3layouts_events_grid_social_sub {
	left:-7.5%!important;
}

.agileits_w3layouts_events_grid_social ul,.agileits_w3layouts_events_grid_social_sub ul {
	padding:0;
	margin:0;
}

.agileits_w3layouts_events_grid_social ul li,.agileits_w3layouts_events_grid_social_sub ul li {
	display:block;
}

.agileits_w3layouts_events_grid_social ul li:nth-child(2),.agileits_w3layouts_events_grid_social_sub ul li:nth-child(2) {
	margin:1em 0;
}

.agileits_w3layouts_events_grid_social ul li a,.agileits_w3layouts_events_grid_social_sub ul li a {
	color:#FFF;
	font-size:1em;
}

.agileits_w3layouts_events_grid_social ul li a:hover,.agileits_w3layouts_events_grid_social_sub ul li a:hover {
	color:#212121;
}

/*-- //events --*/
/*-- footer --*/
.footer {
	background:#191d20;
	padding:4em 0 0;
}

/*
 .footer_bg_grey{
  background: rgb(252,252,252);  
  background: -moz-linear-gradient(top, rgba(232,232,232,1) 1%, rgba(25,29,32,1) 19%);  
  background: -webkit-linear-gradient(top, rgba(232,232,232,1) 1%,rgba(25,29,32,1) 19%);  
  background: linear-gradient(to bottom, rgba(232,232,232,1) 1%,rgba(25,29,32,1) 19%);  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#191d20',GradientType=0 );
}
.footer_bg_withe{
  background: rgb(252,252,252);  
  background: -moz-linear-gradient(top, rgba(252,252,252,1) 1%, rgba(25,29,32,1) 19%);  
  background: -webkit-linear-gradient(top, rgba(252,252,252,1) 1%,rgba(25,29,32,1) 19%);  
  background: linear-gradient(to bottom, rgba(252,252,252,1) 1%,rgba(25,29,32,1) 19%);  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#191d20',GradientType=0 );
}

.footer_bg_blue{
  background: rgb(68,148,211);  
  background: -moz-linear-gradient(top, rgba(68,148,211,1) 1%, rgba(25,29,32,1) 12%);  
  background: -webkit-linear-gradient(top, rgba(68,148,211,1) 1%,rgba(25,29,32,1) 12%);  
  background: linear-gradient(to bottom, rgba(68,148,211,1) 1%,rgba(25,29,32,1) 12%);  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4494d3', endColorstr='#191d20',GradientType=0 );

}
*/
.agileits_w3layouts_footer_logo h5 {
	margin:0;
}

.agileits_w3layouts_footer_logo h5 a {
	color:#FFF;
	font-size:3em;
	text-decoration:none;
	font-family:'Pacifico',cursive;
	letter-spacing:3px;
}

.agile-footer-grid ul {
	padding:0;
	margin:0;
}

.agileinfo-social-grids {
	margin:1em 0 0 -10px;
}

.agileinfo-social-grids ul {
	padding:0;
	margin:0;
}

.agileinfo-social-grids ul li {
	display:inline-block;
	margin:0 .5em 0 0;
}

.agileinfo-social-grids ul li a {
	color:#FFF;
	text-align:center;
}

.agileinfo-social-grids ul li a i.fa {
	height:30px;
	width:30px;
	border:solid 2px #191d20;
	line-height:29px;
	background:none;
	color:#bbb;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}

.agileinfo_footer_grid h4 {
	font-size:.9em;
	color:#959595;
	margin:0;
}

.agileinfo_footer_grid h4 span {
	display:block;
	font-size:1em;
	margin:.5em 0 0;
	color:#FFF;
}

.agileinfo_footer_grid p {
	margin:1em 0;
	color:#959595;
	line-height:2em;
	font-size:.9em;
}

.agileinfo_footer_grid p span {
	display:block;
}

.agileinfo_footer_grid ul.w3layouts_footer_nav {
	padding:0;
}

.agileinfo_footer_grid ul.w3layouts_footer_nav li {
	list-style-type:none;
	margin:0 0 .05em;
}

.w3layouts_footer_nav li i {
	padding-right:1em;
	color:#fff;
}

.agileinfo_footer_grid ul.w3layouts_footer_nav li a {
	font-size:.9em;
	text-decoration:none;
	color:#fff;
	text-transform:capitalize;
}

.agileinfo_footer_grid ul.w3layouts_footer_nav li a:hover {
	color:#F44336;
}

.agileinfo_footer_grid_left {
	float:left;
	width:50%;
	border:1px solid #fff;
}

.agileinfo_footer_grid1 {
	padding-left:0;
}

.agileinfo_footer_grid_left:hover img {
	opacity:.8;
}

.agileinfo_footer_grid h3 {
	font-size:1.1em;
	color:#fff;
	padding-bottom:.5em;
	position:relative;
	margin-bottom:1.5em;
	text-transform:uppercase;
	letter-spacing:1px;
}

.agileinfo_footer_grid h3:after {
	content:'';
	background:#F44336;
	width:25%;
	height:2px;
	position:absolute;
	bottom:0;
	left:0;
}

.w3_agileits_footer_copy {
	background:#0f1215;
	padding:1.5em 0;
	text-align:center;
	margin:2em 0 0;
}

.w3_agileits_footer_copy p {
	color:#fff;
	margin:0;
	font-size:.9em;
}

.w3_agileits_footer_copy p a {
	color:#F44336;
	text-decoration:none;
}

.w3_agileits_footer_copy p a:hover {
	color:#fff;
}

/*-- //footer --*/
.agileinfo-header-bottom {
	padding:0 0 2em;
}

/*-- breadcrumbs --*/
.breadcrumbs {
	padding:1em 0;
	background:#f5f5f5;
}

.w3layouts_breadcrumbs_left {
	float:left;
	margin-top:.5em;
}

.w3layouts_breadcrumbs_left ul {
	padding:0;
	margin:0;
}

.w3layouts_breadcrumbs_left ul li {
	display:inline-block;
	color:#F44336;
	font-weight:600;
}

.w3layouts_breadcrumbs_left ul li span {
	padding:0 1.5em;
	color:#212121;
}

.w3layouts_breadcrumbs_left ul li i {
	padding-right:1em;
	color:#212121;
}

.w3layouts_breadcrumbs_left ul li a {
	color:#212121;
	text-decoration:none;
}

.w3layouts_breadcrumbs_right {
	float:right;
}

.w3layouts_breadcrumbs_right h2 {
	font-size:2em;
	color:#212121;
	margin:0;
	font-family:'Pacifico',cursive;
}

.w3layouts_breadcrumbs_left ul li a:hover {
	color:#F44336;
}

.w3_agile_about_grid_left h3 {
	font-size:1.4em;
	color:#212121;
	line-height:1.5em;
	text-transform:capitalize;
}

.w3_agile_about_grid_left p i {
	color:#a0d034;
	display:block;
	margin:2em 0 1em;
}

.w3_agile_about_grid_left p {
	color:#999;
	line-height:2em;
}

/*-- //breadcrumbs --*/
/*-- about --*/
/*-- about-top --*/
.about-top-left h4 {
	margin:0;
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
	font-weight:600;
	line-height:1.8em;
	letter-spacing:2px;
}

.about-top-left h5 {
	color:#212121;
	font-style:italic;
	font-size:.9em;
	margin:1em 0;
}

.about-top-left p {
	color:#999;
	font-size:.9em;
	margin:0;
	line-height:1.8em;
}

.about-top-left p span {
	display:block;
	margin:1em 0 0;
}

.about-top-right img {
	width:100%;
}

/*-- //about-top --*/
/*-- about-bottom --*/
.about-bottom {
/*
  background: url(../images/1.jpg) no-repeat 0px 0px;
  background-size: cover;
  text-align:center; */
	background-color:#4494D3;
}

.about-bottom-info h4 {
	color:#FFF;
	font-size:2em;
	margin:0;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:7px;
	line-height:1.5em;
}

.agileinfo-button {
	margin:3em auto 0;
	width:18%;
}

.agileinfo-button a {
	color:#212121;
	font-size:1em;
	padding:1em;
	border:solid 2px #fff;
	text-decoration:none;
	margin:0;
	background:#fff;
	display:block;
	letter-spacing:2px;
	font-weight:600;
	text-transform:uppercase;
}

.agileinfo-button a:hover {
	color:#FFF;
	background:#F44336;
	border:solid 2px #FFF;
}

/*-- //about-bottom --*/
/*-- //about --*/
/*-- team --*/
.w3ls_team_grids {
	margin:3em 0 0;
}

.agileits_w3layouts_team_grid {
	padding:1.5em;
	background:#f5f5f5;
}

.agileits_w3layouts_team_grid ul li {
	display:inline-block;
	font-weight:600;
	color:#212121;
}

.agileits_w3layouts_team_grid ul li:last-child {
	margin-left:2em;
}

.agileits_w3layouts_team_grid ul li i {
	padding-right:1em;
	color:#a0d034;
}

.agileits_w3layouts_team_grid ul li a {
	color:#212121;
	text-decoration:none;
}

.agileits_w3layouts_team_grid ul li a:hover {
	color:#a0d034;
}

.agileits_w3layouts_team_grid h4 {
	font-size:1.3em;
	color:#212121;
	margin:1em 0;
}

.agileits_w3layouts_team_grid h4 a {
	color:#212121;
	text-decoration:none;
}

.agileits_w3layouts_team_grid h4 a:hover {
	color:#a0d034;
}

.agileits_w3layouts_team_grid h4 a:focus {
	outline:none;
}

.agileits_w3layouts_team_grid p {
	color:#999;
	line-height:2em;
}

.w3layouts_team_grid {
	overflow:hidden;
	position:relative;
}

.w3layouts_team_grid img {
	width:100%;
}

.w3layouts_team_grid_pos {
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	background-color:rgba(0,0,0,0.4);
	right:0;
	-webkit-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
	transition:all 400ms ease;
}

.w3layouts_team_grid_pos {
	-webkit-transform:scale3d(0,0,1);
	-moz-transform:scale3d(0,0,1);
	-ms-transform:scale3d(0,0,1);
	transform:scale3d(0,0,1);
}

.w3ls_team_grid:hover .w3layouts_team_grid .w3layouts_team_grid_pos,
.w3_agileits_team_grid:hover .w3layouts_team_grid .w3layouts_team_grid_pos,
.w3layouts_gallery_grid:hover .w3layouts_team_grid .w3layouts_team_grid_pos {
	opacity:1;
	-webkit-transform:scale3d(1,1,1);
	-moz-transform:scale3d(1,1,1);
	-ms-transform:scale3d(1,1,1);
	transform:scale3d(1,1,1);
}

.w3ls_team_grid:hover .wthree_text,
.w3_agileits_team_grid:hover .wthree_text,
.w3layouts_gallery_grid:hover .wthree_text {
	opacity:1;
	-webkit-transform:translateY(0) scale3d(1,1,1);
	-moz-transform:translateY(0) scale3d(1,1,1);
	-ms-transform:translateY(0) scale3d(1,1,1);
	transform:translateY(0) scale3d(1,1,1);
	-webkit-transition:transform 400ms ease 380ms;
	-moz-transition:transform 400ms ease 380ms;
	transition:transform 400ms ease 380ms;
}

ul.agileits_social_list {
	padding:0;
	margin:0;
}

.wthree_text {
	text-align:center;
	padding:11em 0 0;
	opacity:0;
	-webkit-transform:translateY(0) scale3d(0,0,1);
	-moz-transform:translateY(0) scale3d(0,0,1);
	-ms-transform:translateY(0) scale3d(0,0,1);
	transform:translateY(0) scale3d(0,0,1);
	-webkit-transition:transform 400ms ease 280ms;
	-moz-transition:transform 400ms ease 280ms;
	transition:transform 400ms ease 280ms;
}

.wthree_text h3 {
	color:#fff;
	font-size:2em;
}

.agileits_social_list li {
	display:inline-block;
	margin-right:3em;
}

.agileits_social_list li:nth-child(3) {
	margin:0;
}

.agileits_social_list li a {
	color:#fff;
	text-align:center;
	display:inline-block;
	font-size:1.2em;
}

a.w3_agile_facebook:hover {
	color:#3b5998;
}

a.agile_twitter:hover {
	color:#1da1f2;
}

a.w3_agile_dribble:hover {
	color:#ea4c89;
}

.w3_agileits_team-info {
	padding:1em;
	background:#ededf5;
}

.w3_agileits_team-info h4 {
	color:#212121;
	font-size:1em;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	margin:0;
}

.w3_agileits_team-info p {
	color:#999;
	font-size:.9em;
	margin:.5em 0 0;
}

/*-- //team --*/
/*-- gallery --*/
.all_pad {
	padding:5.5em 0;
}

.item {
	text-align:center;
	position:relative;
}

.item,.item-hover,.item-hover .mask,.item-img,.item-info {
	width:100%;
	height:232px;
}

.item-hover,.item-hover .mask,.item-img {
	position:absolute;
	top:0;
	left:0;
}

.item-info {
	padding-top:70px;
}

.item-type-double .item-hover {
	z-index:5;
	-webkit-transition:all 300ms ease-out;
	-moz-transition:all 300ms ease-out;
	-o-transition:all 300ms ease-out;
	transition:all 300ms ease-out;
	opacity:0;
	cursor:pointer;
	display:block;
	text-decoration:none;
	text-align:center;
}

.item-type-double .item-info {
	z-index:10;
	color:#fff;
	vertical-align:middle;
	position:relative;
	z-index:5;
	text-align:center;
	width:100%;
}

.item-type-double .item-info .headline {
	font-size:2em;
	width:90%;
	margin:0 auto;
	font-family:'Pacifico',cursive;
	letter-spacing:3px;
}

.item-type-double .item-info .line {
	height:2px;
	width:0;
	margin:15px auto;
	background-color:#fff;
	-webkit-transition:all 300ms ease-out;
	-moz-transition:all 300ms ease-out;
	-o-transition:all 300ms ease-out;
	transition:all 300ms ease-out;
}

.item-type-double .item-info .date {
	font-size:30px;
	color:#C19A04;
}

.item-type-double .item-hover .mask {
	background-color:#000;
	opacity:.7;
	z-index:0;
}

.item-type-double .item-hover:hover .line {
	width:90%;
}

.item-type-double .item-hover:hover {
	opacity:1;
}

.item-img {
	z-index:0;
}

.item-img img {
	width:100%;
}

.gal-img {
	border:1px solid #C5C5C5;
	position:relative;
}

.gal-img p {
	color:#000;
	font-size:1em;
	margin:2em 0;
	text-align:center;
	font-weight:700;
}

.gal-top {
	margin-top:30px;
}

/*-- //gallery --*/
/*-- icons --*/
.codes a {
	color:#999;
}

.icon-box {
	padding:8px 15px;
	background:rgba(149,149,149,0.18);
	margin:1em 0;
	border:5px solid #fff;
	text-align:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-size:1em;
	transition:.5s all;
	-webkit-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	-moz-transition:.5s all;
	cursor:pointer;
}

.icon-box:hover {
	background:#F44336;
	transition:.5s all;
	-webkit-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	-moz-transition:.5s all;
}

.icon-box:hover i.fa {
	color:#fff!important;
}

.icon-box:hover a.agile-icon {
	color:#fff!important;
}

.codes .bs-glyphicons li {
	float:left;
	width:12.5%;
	height:115px;
	padding:10px;
	line-height:1.4;
	text-align:center;
	font-size:12px;
	list-style-type:none;
}

.codes .bs-glyphicons .glyphicon {
	margin-top:5px;
	margin-bottom:10px;
	font-size:24px;
}

.codes .glyphicon {
	position:relative;
	top:1px;
	display:inline-block;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color:#777;
}

.codes .bs-glyphicons .glyphicon-class {
	display:block;
	text-align:center;
	word-wrap:break-word;
}

h3.icon-subheading {
	color:#F44336!important;
	margin:30px 0 15px;
	font-size:1.3em;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
}

h3.agileits-icons-title {
	text-align:center;
	color:#212121;
	margin:0;
	font-size:1.3em;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
}

.icons a {
	color:#999;
}

.icon-box i {
	margin-right:10px!important;
	font-size:20px!important;
	color:#282a2b!important;
}

.icons .bs-glyphicons li {
	float:left;
	width:18%;
	height:115px;
	padding:10px;
	line-height:1.4;
	text-align:center;
	font-size:12px;
	list-style-type:none;
	background:rgba(149,149,149,0.18);
	margin:1%;
}

.icons .bs-glyphicons .glyphicon {
	margin-top:5px;
	margin-bottom:10px;
	font-size:24px;
	color:#282a2b;
}

.icons .glyphicon {
	position:relative;
	top:1px;
	display:inline-block;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color:#777;
}

.icons .bs-glyphicons .glyphicon-class {
	display:block;
	text-align:center;
	word-wrap:break-word;
}

ul.bs-glyphicons-list {
	padding:0;
	margin:0;
}

/*-- //icons --*/
/*-- typography --*/
h3.hdg {
	font-size:2.5em;
	color:#000!important;
}

.show-grid [class^=col-] {
	background:#fff;
	text-align:center;
	margin-bottom:10px;
	line-height:2em;
	border:10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
	background:#e0e0e0;
}

.grid_3 {
	margin-bottom:2em;
}

.xs h3,h3.m_1 {
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom:1em;
}

.grid_3 p {
	color:#555;
	font-size:.85em;
	margin-bottom:1em;
	font-weight:300;
}

.grid_4 {
	background:none;
}

.label {
	font-weight:300!important;
	border-radius:4px;
}

.grid_5 {
	background:none;
	padding:2em 0;
}

.grid_5 h3,.grid_5 h2,.grid_5 h1,.grid_5 h4,.grid_5 h5,h3.hdg {
	margin-bottom:1em;
	color:#333;
}

.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td {
	border-top:none!important;
}

.tab-content > .active {
	display:block;
	visibility:visible;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
	z-index:0;
}

.badge-primary {
	background-color:#03a9f4;
}

.badge-success {
	background-color:#8bc34a;
}

.badge-warning {
	background-color:#ffc107;
}

.badge-danger {
	background-color:#e51c23;
}

.grid_3 p {
	line-height:2em;
	color:#888;
	font-size:.9em;
	margin-bottom:1em;
	font-weight:300;
}

.bs-docs-example {
	margin:1em 0;
}

section#tables p {
	margin-top:1em;
}

.tab-container .tab-content {
	border-radius:0 2px 2px 2px;
	border:1px solid #e0e0e0;
	padding:16px;
	background-color:#fff;
}

.table td,.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
	padding:15px!important;
}

.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td {
	font-size:.9em;
	color:#555;
	border-top:none!important;
}

.tab-content > .active {
	display:block;
	visibility:visible;
}

.label {
	font-weight:300!important;
}

.label {
	padding:4px 6px;
	border:none;
	text-shadow:none;
}

.nav-tabs {
	margin-bottom:1em;
}

.alert {
	font-size:.85em;
}

h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:.5em;
	margin-bottom:.5em;
}

li.list-group-item1 {
	line-height:2.5em;
}

.input-group {
	margin-bottom:20px;
}

.in-gp-tl {
	padding:0;
}

.in-gp-tb {
	padding-right:0;
}

.list-group {
	margin-bottom:48px;
}

ol {
	margin-bottom:44px;
}

h2.typoh2 {
	margin:0 0 10px;
}

@media (max-width:768px) {
	.grid_5 {
		padding:0 0 1em;
	}
	
	.grid_3 {
		margin-bottom:0;
	}
}

@media (max-width:640px) {
	h1,.h1,h2,.h2,h3,.h3 {
		margin-top:0;
		margin-bottom:0;
	}
	
	.grid_5 h3,.grid_5 h2,.grid_5 h1,.grid_5 h4,.grid_5 h5,h3.hdg,h3.bars {
		margin-bottom:.5em;
	}
	
	.progress {
		height:10px;
		margin-bottom:10px;
	}
	
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size:14px;
	}
	
	.breadcrumb {
		margin-bottom:10px;
	}
	
	.well {
		font-size:14px;
		margin-bottom:10px;
	}
	
	h2.typoh2 {
		font-size:1.5em;
	}
}

@media (max-width:480px) {
	.table h1 {
		font-size:26px;
	}
	
	.table h2 {
		font-size:23px;
	}
	
	.table h3 {
		font-size:20px;
	}
	
	.label {
		font-size:53%;
	}
	
	.alert,p {
		font-size:14px;
	}
	
	.pagination {
		margin:20px 0 0;
	}
}

@media (max-width: 320px) {
	.grid_4 {
		margin-top:18px;
	}
	
	.alert,p,ol.breadcrumb li,.grid_3 p,.well,ul.list-group li,li.list-group-item1,a.list-group-item {
		font-size:13px;
	}
	
	.alert {
		padding:10px;
		margin-bottom:10px;
	}
	
	ul.pagination li a {
		font-size:14px;
		padding:5px 11px!important;
	}
	
	.list-group {
		margin-bottom:10px;
	}
	
	.well {
		padding:10px;
	}
	
	.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td {
		font-size:.81em;
	}
	
	.table td,.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
		padding:12px!important;
	}
	
	.codes .row {
		margin:0;
	}
}

/*-- //typography --*/
/*-- contact --*/
.contact-info {
	margin:3em 0;
	text-align:center;
}

.contact-info p {
	color:#B2B2B2;
	font-size:.9em;
	margin:1em auto 0;
	line-height:1.8em;
	width:70%;
}

.map iframe {
	width:100%;
	min-height:400px;
	border:none;
}

.mail-grids {
	margin:4em 0 0;
}

.mail-grid-left h3 {
	font-size:1.2em;
	margin:0 0 .5em;
	color:#F44336;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
}

.mail-grid-left h5 {
	color:#313131;
	font-size:.875em;
	margin:0;
	font-weight:600;
	line-height:1.8em;
}

.mail-grid-left h5 span {
	display:block;
}

.mail-grid-left h4 {
	color:#313131;
	font-size:.875em;
	font-weight:800;
	text-transform:uppercase;
	margin:.5em 0;
}

.mail-grid-left p {
	color:#BBB;
	font-size:.875em;
	margin:1em 0;
	line-height:1.8em;
}

.mail-grid-left p a {
	color:#F44336;
	text-decoration:none;
}

.mail-grid-left p span {
	display:block;
}

.contact-form form {
	text-align:right;
}

.contact-form input[type="text"],.contact-form input[type="email"] {
	width:100%;
	color:#919191;
	background:none;
	outline:none;
	font-size:.9em;
	padding:.5em;
	margin-bottom:1em;
	border:solid 1px #919191;
	-webkit-appearance:none;
}

.contact-form textarea {
	resize:none;
	width:100%;
	background:none;
	color:#919191;
	font-size:.9em;
	outline:none;
	padding:.5em;
	border:solid 1px #919191;
	min-height:150px;
	-webkit-appearance:none;
}

.contact-form input[type="submit"] {
	outline:none;
	-webkit-appearance:none;
	border:solid 2px #F44336;
	font-size:.9em;
	color:#fff;
	font-weight:600;
	padding:.7em 1em;
	text-decoration:none;
	letter-spacing:1px;
	background:#F44336;
	margin:1em 0 0;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}

.contact-form input[type="submit"]:hover {
	color:#2f2f2f;
	border:solid 2px #2f2f2f;
	background:none;
}
/*-- //contact --*/

/*-- single --*/

.agileits-single-img img {
	width:100%;
}

.agileits-single-img h4 {
	color:#000;
	font-size:1.2em;
	margin:1em 0;
	font-weight:600;
	line-height:1.5em;
}

.agileinfo-single-icons {
	margin:2em 0;
}

.agileinfo-single-icons ul {
	padding:0;
	margin:0;
}

.agileinfo-single-icons ul li {
	display:inline-block;
	color:#999;
	font-size:.9em;
	margin-right:1.5em;
}

.agileinfo-single-icons ul li:last-child {
	margin-right:0;
}

.agileinfo-single-icons ul li a {
	color:#999;
	text-decoration:none;
}

.agileinfo-single-icons ul li span {
	margin-left:.5em;
}

.agileinfo-single-icons ul li span:hover {
	color:#f44336;
}

.agileits-single-img p {
	color:#999;
	font-size:.9em;
	line-height:1.8em;
	margin:0;
}

/*-- comments --*/
.agileits_three_comments {
	margin:4em 0;
}

.agileits_three_comment_grid {
	padding:3em 0;
	border-bottom:1px solid #ddd;
	width:100%;
}

.agileits_tom {
	float:left;
	border:1px dotted #353535;
	padding:.5em;
	width:10%;
}

.agileits_tom img {
	width:100%;
}

.agileits_tom_right {
	float:left;
	width:70%;
	margin-left:3em;
}

.hardy {
	float:left;
}

.reply {
	float:left;
	margin-left:10em;
	margin-top:.5em;
}

.reply a {
	background:#F44336;
	border:solid 2px #f44336;
	padding:.5em 2em;
	color:#fff;
	font-size:.9em;
	text-decoration:none;
}

.reply a:hover {
	background:none;
	color:#212121;
	border:solid 2px #212121;
	background:none;
}

.agileits_tom_right p.lorem {
	color:#999;
	font-size:.9em;
	line-height:1.8em;
	margin:1em 0 0;
}

.agileits_three_comments h3,.w3_leave_comment h3 {
	text-align:left;
	color:#212121;
	font-size:1.5em;
	margin:1em 0;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:4px;
}

.hardy h4 {
	font-size:1.2em;
	color:#000;
	margin:0;
	font-weight:600;
}

.hardy p {
	color:#999;
	margin:.5em 0 0;
	font-size:.9em;
}

.agileits_three_comment_grid:nth-child(2) {
	margin:4em 0 0;
	padding-top:0!important;
}

.agileits_three_comment_grid:last-child {
	border-bottom:none;
	padding-bottom:0!important;
}

.agileits_three_comment_grid1 {
	padding-left:5em;
}
/*-- //comments --*/

/*-- leave-comments --*/

.w3_leave_comment {
	width:70%;
}

.w3_leave_comment form {
	margin:3em 0 0;
}

.w3_leave_comment input[type="text"],.w3_leave_comment input[type="email"],.w3_leave_comment textarea {
	background:none;
	border:1.5px solid #BBB;
	width:100%;
	outline:none;
	padding:10px;
	font-size:.9em;
	color:#BBB;
}

.w3_leave_comment input[type="email"],.w3_leave_comment textarea {
	margin:1em 0;
}

.w3_leave_comment textarea {
	min-height:200px;
	resize:none;
}

.w3_leave_comment input[type="submit"] {
	background:#F44336;
	border:solid 2px #f44336;
	padding:.5em 2em;
	color:#fff;
	font-size:.9em;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:600;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}

.w3_leave_comment input[type="submit"]:hover {
	border:solid 2px #212121;
	color:#212121;
	background:none;
	text-transform:uppercase;
	font-weight:600;
}
/*-- //leave-comments --*/

/*-- //single --*/


/*-- to-top --*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:20px;
	right:2%;
	overflow:hidden;
	z-index:999;
	width:40px;
	height:40px;
	border:none;
	text-indent:100%;
}

#toTopHover {
	width:40px;
	height:40px;
	display:block;
	overflow:hidden;
	float:right;
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity=0);
}

/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1080px) {
	.w3-banner h2 {
		font-size:6em;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:187px;
	}
	
	.w3ls-banner-info {
		width:45%;
	}
	
	.services-icon {
		padding:0;
	}
	
	.callbacks_tabs {
		top:267px;
		left:448px;
	}
	
	.agile_events_grid_pos_sub {
		width:100%;
	}
	
	.agile_events_grid_pos {
		width:100%;
	}
	
	.agileits_social_list li {
		margin-right:1em;
	}
	
	.item-info {
		padding-top:40px;
	}
	
	.icon-box {
		padding:8px 4px;
		font-size:.9em;
	}
}

@media(max-width:1024px) {
	.wthree_text {
		padding:9em 0 0;
	}
}

@media(max-width:991px) {
	.w3-banner h2 {
		font-size:5em;
		letter-spacing:38px;
	}
	
	.w3ls-banner-info {
		width:75%;
	}
	
	.welcome-right {
		margin:2em 0 0;
	}
	
	.w3-agile-services-right {
		margin:2em 0 0;
	}
	
	.testimonial-top p {
		width:95%;
	}
	
	.callbacks_tabs {
		left:340px;
	}
	
	.agile_events_grid {
		width:100%;
	}
	
	.agile_events_grid_pos {
		width:100%;
		position:inherit;
		left:0;
	}
	
	.agile_events_grid_pos_sub {
		width:100%;
		position:inherit;
		right:0;
	}
	
	.agileits_w3layouts_events_grid_social {
		right:0;
	}
	
	.agileits_w3layouts_events_grid_social_sub {
		left:0!important;
	}
	
	.agileinfo_footer_grid {
		padding:0;
		margin:2em 0 0;
	}
	
	.agileinfo_footer_grid:nth-child(1) {
		margin:0;
	}
	
	.agileinfo_footer_grid_left {
		width:25%;
	}
	
	.agileinfo_footer_grid h3:after {
		width:10%;
	}
	
	.about-top-right {
		margin:2em 0 0;
	}
	
	.agileinfo-button {
		width:25%;
	}
	
	.w3_agileits_team_grid {
		float:left;
		width:50%;
	}
	
	.w3_agileits_team_grid:nth-child(3),.w3_agileits_team_grid:nth-child(4) {
		margin:2em 0 0;
	}
	
	.about-bottom-info h4 {
		font-size:1.2em;
	}
	
	.wthree_text {
		padding:14em 0 0;
	}
	
	.gal-grid {
		float:left;
		width:50%;
		margin:2em 0 0!important;
	}
	
	.gal-grid:nth-child(1),.gal-grid:nth-child(2) {
		margin:0;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:218px;
	}
}

@media(max-width:736px) {
	.navbar-toggle {
		float:none;
		margin-right:0;
	}
	
	.navbar {
		text-align:center;
	}
	
	.top-nav ul li {
		display:block;
	}
	
	.navbar-default .navbar-collapse,.navbar-default .navbar-form {
		border:none;
		background:rgba(0,0,0,0.75);
		position:absolute;
		width:100%;
		z-index:9999;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color:#fdfdfd;
	}
	
	.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
		background-color:#F44336;
	}
	
	.w3ls-button {
		width:50%;
	}
	
	.welcome-w3ls-text {
		margin:2em 0 0;
	}
	
	.services-icon {
	}
	
	.callbacks_tabs {
		left:322px;
		top:300px;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:208px;
	}
}

@media(max-width:667px) {
	.w3-banner h2 {
		letter-spacing:30px;
	}
	
	.callbacks_tabs {
		left:288px;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:185px;
	}
}

@media(max-width:640px) {
	.testimonial-top p {
		width:100%;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:176px;
	}
	
	.item-type-double .item-info .headline {
		font-size:1.5em;
	}
	
	.w3-banner {
		padding:4em 0 6em;
	}
	
	.w3ls-banner-info {
	/* padding: 2em 2em 0 2em  ; */
	}
	
	.w3ls-button {
		margin:2em auto 0;
		margin-bottom:-2em;
	}
	
	.wthree_text {
		padding:12em 0 0;
	}
}

@media(max-width:600px) {
	.agileinfo-button {
		width:32%;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:163px;
	}
	
	.w3-banner h2 {
		font-size:4em;
	}
	
	.callbacks_tabs {
		left:254px;
		top:320px;
	}
	
	.reply {
		margin-left:4em;
	}
}

@media(max-width:568px) {
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:152px;
	}
	
	.item-info {
		padding-top:24px;
	}
	
	.wthree_text {
		padding:10em 0 0;
	}
	
	.top-nav ul li a {
		padding:.5em 0;
	}
}

@media(max-width:480px) {
	.w3-banner h2 {
		font-size:3em;
		letter-spacing:16px;
	}
	
	.top-nav {
		margin:0;
	}
	
	.w3-banner {
		padding:2em 0 3em;
	}
	
	.w3ls-banner-info {
		width:90%;
	}
	
	.w3ls-banner-info p {
		font-size:1em;
	}
	
	.services-icon-text h4 {
		font-size:.8em;
	}
	
	.callbacks_tabs {
		left:192px;
		top:387px;
	}
	
	.agileinfo-button {
		width:35%;
	}
	
	.wthree_text {
		padding:8em 0 0;
	}
	
	.wthree-heading h3 {
		font-size:2em;
	}
	
	.agileits_three_comments h3,.w3_leave_comment h3 {
		font-size:1.2em;
	}
	
	.item-type-double .item-info .line {
		margin:4px auto;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:123px;
	}
}

@media(max-width:414px) {
	.w3ls-button a {
		font-size:.9em;
	}
	
	.w3ls-button {
		width:55%;
	}
	
	.callbacks_tabs {
		left:157px;
		top:412px;
	}
	
	.welcome,.services,.testimonial,.w3-events,.about-top,.about-bottom,.team,.gallery,.codes,.typography,.contact-top,.single {
		padding:2em 0;
	}
	
	.welcome-agileitsrow,.w3ls_team_grids {
		margin:2em 0 0;
	}
	
	.services-icon {
		
	}
	
	.services-icon:nth-child(1) {
		margin:0;
	}
	
	.agile-services-left-grid:last-child {
		margin:2em 0 0;
	}
	
	.agileinfo-button a {
		padding:.5em;
	}
	
	.agileinfo-button {
		width:40%;
	}
	
	.agileinfo-button {
		margin:2em auto 0;
	}
	
	.w3_agileits_team_grid {
		float:none;
		width:100%;
	}
	
	.w3_agileits_team_grid:nth-child(2),.w3_agileits_team_grid:nth-child(3),.w3_agileits_team_grid:nth-child(4) {
		margin:2em 0 0;
	}
	
	.wthree_text {
		padding:14em 0 0;
	}
	
	.w3layouts_breadcrumbs_right h2 {
		font-size:1.3em;
	}
	
	.w3layouts_breadcrumbs_left {
		margin-top:0;
	}
	
	.w3layouts-logo h1 a {
		font-size:1em;
	}
	
	.welcome-w3ls-text {
		padding:0;
	}
	
	.agileits_three_comments {
		margin:2em 0;
	}
	
	.agileits_three_comment_grid:nth-child(2) {
		margin:2em 0 0;
	}
	
	.agileits_tom {
		width:15%;
	}
	
	.agileits_tom_right {
		margin-left:1em;
	}
	
	.agileits_three_comment_grid1 {
		padding-left:2em;
	}
	
	.reply a {
		padding:.5em 1em;
	}
	
	.reply {
		margin-left:2em;
	}
	
	.gal-grid {
		float:none;
		width:100%;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:223px;
	}
	
	.item-info {
		padding-top:70px;
	}
	
	.icons .bs-glyphicons li {
		width:31%;
	}
	
	.mail-grids {
		margin:2em 0 0;
	}
	
	.map iframe {
		min-height:200px;
	}
	
	.footer {
		padding:2em 0 0;
	}
	
	.w3_agileits_footer_copy {
		margin:2em 0 0;
	}
	
	.agileits_three_comment_grid {
		padding:2em 0;
	}
	
	.agileits_three_comments h3,.w3_leave_comment h3 {
		font-size:1em;
		letter-spacing:2px;
	}
	
	.w3_leave_comment form {
		margin:2em 0 0;
	}
	
	.w3_leave_comment {
		width:100%;
	}
	
	.agileits_w3layouts_footer_logo h5 a {
		font-size:2em;
	}
	
	.w3-agileits-services-grids,.agile_banner_bottom_grids {
		margin:2em 0 0;
	}
	
	.agile_events_grid_pos1 {
		padding:1em;
	}
}

@media(max-width:384px) {
	.w3ls-button {
		margin-bottom:-1em;
	}
	
	.w3ls-button a {
		font-size:.9em;
		padding:.5em;
	}
	
	.w3ls-banner-info {
		margin:2em auto 0;
	}
	
	.callbacks_tabs {
		left:145px;
		top:430px;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:203px;
	}
	
	.w3layouts_breadcrumbs_left ul li span {
		padding:0 .5em;
	}
}

@media(max-width:375px) {
	.w3ls-banner-info {
	/*padding: 1em 1em 0 1em*/
	}
	
	.w3ls-button {
		margin:1em auto 0;
		margin-bottom:-1em;
	}
	
	.w3-banner h2 {
		font-size:2em;
	}
	
	.about-bottom-info h4 {
		font-size:1em;
		letter-spacing:2px;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:198px;
	}
	
	.w3layouts_breadcrumbs_left ul li span {
		padding:0 .5em;
	}
	
	.w3layouts_breadcrumbs_left ul li i {
		padding-right:.5em;
	}
}

@media(max-width:320px) {
	.w3ls-banner-info p {
		letter-spacing:1px;
	}
	
	.w3ls-button {
		width:60%;
	}
	
	.w3-banner h2 {
		letter-spacing:12px;
	}
	
	.welcome-right {
		padding:1em;
	}
	
	.callbacks_tabs {
		left:108px;
		top:511px;
	}
	
	.agile_events_grid_pos1 h5 span {
		font-size:2em;
	}
	
	.agile_events_grid_pos1 h4 a {
		font-size:.9em;
		letter-spacing:0;
	}
	
	.agileits_tom_right {
		width:79%;
	}
	
	.reply {
		margin-left:1em;
	}
	
	.w3layouts_breadcrumbs_left ul li {
		font-size:.8em;
	}
	
	.item-info {
		padding-top:50px;
	}
	
	.item,.item-hover,.item-hover .mask,.item-img,.item-info {
		height:160px;
	}
	
	.gal-img p {
		margin:1em 0;
	}
	
	.agileinfo-button {
		width:50%;
	}
	
	.agileinfo-button a {
		font-size:.9em;
	}
}

/*-- //responsive --*/