.slide-default {}
.slide-wahlometer {
    display: none;
}

.header-content {
  text-align: center;
  padding: 125px 0 50px;
  position: relative;
}
.header-content .header-content-inner h1 {
  margin-bottom: 30px;
}

.device-container {
  max-width: 350px;
  margin: 0px auto 50px;
}
.device-container img {
  width: 100%;
}
.device-container video {
  width: 100%;
}

@media (min-width: 992px) {
    #device-explain {
        margin: 100px auto 50px auto;
        padding: 0 35px 0 35px;
    }
    .header-content {
        height: 100vh;
        text-align: left;
    }
    .header-content .header-content-inner {
        max-width: none;
        margin: 0;
        position: absolute;
        top: 55%;
        transform: translateY(-55%);
    }
    .header-content .header-content-inner h1 {
        font-size: 50px;
    }
    .device-container {
        max-width: none;
        max-height: calc(0vh);
        margin: 150px auto 0;
    }
}

.scroll-icon-container {
    font-size: 20px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 30px;
    text-decoration: none;
}

.scroll-icon {
    color: rgba(255, 255, 255, 0.2) !important;
    padding: 10px 10px 10px 10px;
    text-decoration: none !important;
    font-size: 30px;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-store-outline:before {
  content: "\e901";
  color: #fff;
}
.icon-app-store-filled:before {
  content: "\e900";
  color: #fff;
}
.icon-google-play-outline:before {
  content: "\e903";
  color: #fff;
}
.icon-google-play-filled:before {
  content: "\e902";
  color: #fff;
}

.badge-link {
  color: white !important;
  font-size: 70px;
  line-height: 70px;
  display: inline-block;
  text-decoration: none !important;
}
.header{
    background: linear-gradient(to bottom,rgb(95,147,207),rgb(70,108,171));
}

.header .container {

}
.header-content-inner{
    color: #fff;
}
#index-headline{
    font-size: 45px;
    margin-bottom: 5px;
}
.about-content{
    padding-top: 100px;
}
.video-content{
    padding-top: 80px;
}

.hidden {
    display: none;
}

.info-badge{
    background-color: rgb(239,239,244);
    margin-top: 20px;
    min-height: 120px;
    cursor: pointer;
    display: table;
}
.info-badge:hover{
    background-color: rgb(154,194,228);
}

.info-badge.active{
    background-color: rgb(68,148,211);
    color: #fff;
}

.info-icon{
    height: 100%;
    width: 125px;
    text-align: center;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}
.info-icon img{
    height: 80px;
}
.info-content {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 5px;
    padding-right: 25px;
    font-size: 20px;
    line-height: 1.2;
    display: table-cell;
    min-height: 120px;
}
.background-logo{
    overflow: hidden;
    width: 100%;
    position: absolute;
    height: 100vh;
    left: 0;
}
.background-logo > img {
    height: 80vh;
    position: absolute;
    right: -30vh;
    top: 20vh;
}
@media (max-width:500px) {
    .info-icon{
        width: 60px !important;
    }
    .info-icon img{
        height: 40px;
    }
    .info-content {
        padding: 15px;
    }
}
