@media screen and (min-device-width: 1500px) {
  .slide-wahlometer {
    width: max-content;
  }

  #index-title {
    font-size: 4vw;
  }

  #campaigncorner-img {
    transform: scale(0.45) !important;
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 600px) {
  #index-headline {
    font-size: 8vw;
  }

  #index-title {
    font-size: 12vw;
  }

  #campaigncorner-img {
    transform: scale(0.12) !important;
  }
}

.slide-default {
  display: none;
}

.header-content {
  text-align: center;
  padding: 125px 0 50px;
  position: relative;
}
.header-content .header-content-inner h1 {
  margin-bottom: 30px;
}

.device-container {
  max-width: 350px;
  margin: 0px auto 50px;
}
.device-container img {
  width: 100%;
}
.device-container video {
  width: 100%;
}

@media (min-width: 992px) {
  #device-explain {
    margin: 100px auto 50px auto;
    padding: 0 35px 0 35px;
  }
  .header-content {
    height: 100vh;
    text-align: left;
  }
  .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
  }
  .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 150px auto 0;
  }
}

.scroll-icon-container {
  font-size: 20px;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 30px;
  text-decoration: none;
}

.scroll-icon {
  color: rgba(255, 255, 255, 0.2) !important;
  padding: 10px 10px 10px 10px;
  text-decoration: none !important;
  font-size: 30px;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app-store-outline:before {
  content: "\e901";
  color: #fff;
}
.icon-app-store-filled:before {
  content: "\e900";
  color: #fff;
}
.icon-google-play-outline:before {
  content: "\e903";
  color: #fff;
}
.icon-google-play-filled:before {
  content: "\e902";
  color: #fff;
}

.badge-link {
  color: white !important;
  font-size: 70px;
  line-height: 70px;
  display: inline-block;
  text-decoration: none !important;
}

.header-wom {
  background: linear-gradient(
    to bottom,
    rgb(95, 147, 207),
    rgb(70, 108, 171)
  ) !important;
}

/*
.header .container {

}
*/

.header-content-inner {
  color: #fff;
}

#index-headline {
  font-size: 40px;
  margin-bottom: 5px;
}

#index-title {
  font-size: 50px;
  margin-bottom: 3px;
  font-family: helvetica_bold;
}

.about-content {
  padding-top: 100px;
}

.video-content {
  padding-top: 80px;
}

.hidden {
  display: none;
}

.info-badge {
  background-color: rgb(239, 239, 244);
  margin-top: 20px;
  min-height: 120px;
  cursor: pointer;
  display: table;
}
.info-badge:hover {
  background-color: rgb(154, 194, 228);
}

.info-badge.active {
  background-color: rgb(68, 148, 211);
  color: #fff;
}

.info-icon {
  height: 100%;
  width: 125px;
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
.info-icon img {
  height: 80px;
}
.info-content {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 5px;
  padding-right: 25px;
  font-size: 20px;
  line-height: 1.2;
  display: table-cell;
  min-height: 120px;
}
.background-logo {
  overflow: hidden;
  width: 100%;
  position: absolute;
  height: 100vh;
  left: 0;
}
.background-logo > img {
  height: 80vh;
  position: absolute;
  right: -30vh;
  top: 20vh;
}
@media (max-width: 500px) {
  .info-icon {
    width: 60px !important;
  }
  .info-icon img {
    height: 40px;
  }
  .info-content {
    padding: 15px;
  }
  #wom-campaign-title {
    margin-top: -4vh;
  }
}

.symbolinfo {
  text-align: left;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  padding-top: 64px;
  flex: 0 0 100%;
}

.si-symbol-bg {
  width: 118px;
  height: 116px;
  margin-bottom: 2vh;
  border-radius: 4px;
  background-color: #efeff4;
  z-index: 400;
  position: relative;
}

.si-symbol img {
  width: 76px;
  height: 76px;
  object-fit: contain;
  position: relative;
  z-index: 500;
  margin-left: 80px;
  margin-bottom: -138px;
}

.si-subtitle {
  z-index: 400;
  position: relative;
}

.si-subtitle-heading {
  display: inline-block;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.05px;
  font-family: "helvetica_bold";
  line-height: normal;
}

.si-content {
  margin-top: 1vh;
  box-sizing: border-box;
  font-size: 20px;
  line-height: normal;
  width: 85%;
}

@media screen and (max-device-width: 770px) {
  .si-content {
    width: 90vw !important;
  }
  #wom-title {
    font-size: 40px !important;
  }
  #wom-title-year {
    font-size: 62px !important;
  }
  #wom-title-year-period {
    font-size: 73px !important;
  }
  #wom-title-subtitle {
    font-size: 26px !important;
    width: min-content !important;
    margin-top: 0%;
  }
  #rectangleinfo-wom {
    padding-top: 0%;
    flex: 0 0 100% !important;
  }
}

.si-link {
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 0.14px;
  text-align: left;
}

.si-container {
  display: inline-block;
  overflow: visible;
  width: 33%;
  vertical-align: top;
}

#si-container-3 {
  margin-right: none;
}

@media screen and (max-device-width: 900px) {
  .si-container {
    width: 100%;
  }
  #ri-container-wom {
    flex-wrap: wrap;
  }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1200px) {
  .containerrow-acc .haken {
    bottom: 1.5em;
  }

  #video-applink {
    white-space: pre-line;
  }

  #wom-aboutlink {
    white-space: pre-line;
  }
}

#si-panel {
  min-height: 40vh;
}

#press-heading-wom {
  margin-top: 0vh;
  padding-top: 5vh;
}

#campaigncorner-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  transform-origin: bottom right;
  margin-bottom: -1px;
  -webkit-transition: all 0.6s ease;
  transform: scale(0.25);
}

#campaigncorner-anchor {
  position: absolute;
  right: 0px;
}

#wom-aboutlink {
  float: right;
  margin-top: -4vh;
  text-align: right;
}

.ri-quote-bold {
  font-family: "helvetica_bold";
}

.ri-link {
  color: #4a90e2 !important;
}

#ri-content-wom {
  padding-left: 0%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 4vw;
  padding-top: 2vh;
}

#ri-container-wom {
  padding-top: 5vh;
  display: flex;
  margin-left: 1vw;
  width: 100%;
}

#rectangleinfo-wom {
  padding-top: 0%;
  flex: 0 0 50%;
}

@media screen and (min-device-width: 1500px) {
  #wom-title {
    font-size: 4vw;
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 600px) {
  #wom-title-subtitle {
    font-size: 8vw;
  }

  #wom-title {
    font-size: 12vw;
  }
}
@media screen and (min-device-width: 300px) {
  #wom-title-year-break {
    display: none !important;
  }
  #wom-title-subtitle {
    width: auto !important;
  }
}

#wom-title-year {
  display: inline !important;
  font-family: "SFProDisplay";
  font-size: 100px;
  background: linear-gradient(0.75turn, rgb(246, 208, 83), rgb(236, 147, 55));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: -6px !important;
  font-weight: bolder;
}

#wom-title-year-period {
  display: inline !important;
  font-family: "SFProDisplay";
  font-size: 112px;
  padding-bottom: 2px;
  background: rgb(236, 147, 55);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: -14px !important;
  margin-right: -5px !important;
  font-weight: bolder;
}

#wom-campaign-container {
  margin-top: 20vh;
}

#wom-title-subtitle {
  color: #4494d3;
  font-size: 40px;
  width: max-content;
  margin-top: -20px;
}

#wom-title {
  color: #000b30;
  font-size: 62px;
  font-family: helvetica_bold;
  display: inline !important;
}

#wom-campaign-badges {
  margin-top: 10px;
}

#icon-google-play-outline-wom::before {
  color: #454545 !important;
}

#icon-app-store-outline-wom::before {
  color: #454545 !important;
}

#icon-google-play-filled-wom::before {
  color: #454545 !important;
}

#icon-app-store-filled-wom::before {
  color: #454545 !important;
}

#firstbadge-wom,
#secondbage-wom {
  max-width: min-content;
}

#secondbadge-wom {
  margin-bottom: 10vh;
  min-width: max-content;
}

#wom-about {
  min-height: unset !important;
}

/*
#ri-quote {
  font-size: 90px;
  position: absolute;
  z-index: 500;
  transform: rotate(-1deg);
  color: #4494d3;
  margin-bottom: unset;
}
*/

#quote-name-wom {
  margin-top: -1vh;
}

.container-acc {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.containerrow-acc .haken {
  display: inline-table;
  font-size: 20px;
  position: absolute;
  right: 12px;
  bottom: 1em;
}

.container-text-acc {
  margin-bottom: 5vh !important;
}

.container-text-acc col {
  margin-left: -31px;
  margin-top: 20px;
}
.rectanglebox-acc {
  position: relative;
  left: 0px;
  bottom: -15;
  right: 0px;
  padding-top: 5vh;
}
.container-text-acc {
  margin-top: 20px;
  margin-bottom: 60px;
}

.ri-subtitle-heading-acc {
  display: inline-block;
  color: #000;
  padding: 20px 40px 22px 22px;
  background: rgb(239, 239, 244);
  transform: rotate(-1.5deg);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.05px;
  font-family: "helvetica_bold";
  line-height: normal;
  margin-top: -2vh;
  margin-left: 1vw !important;
}

.ri-subtitle-right {
  margin-left: 1vw;
  margin-bottom: -5px;
}

#rectanglebox-acc-boundary {
  padding-top: unset !important;
}

.vspace-acc {
  padding-bottom: 10vh;
}

.acc-content-left,
.acc-content-right {
  padding-left: 4vw;
  width: 90%;
  font-size: 20px;
}

@media screen and (max-device-width: 575px) {
  .ri-subtitle-heading-acc {
    transform: unset !important;
    margin-left: unset;
  }
  .acc-content-left,
  .acc-content-right {
    font-size: 16px;
  }
}

@media screen and (min-device-width: 475px) and (max-device-width: 991px) {
  .containerrow-acc .haken {
    bottom: 1.5em;
  }
}

@media screen and (max-device-width: 475px) {
  .containerrow-acc .haken {
    bottom: 3em;
  }
}
