@font-face {
    font-family: 'edosz';
    src: url('../files/font/edosz.ttf') format('truetype');
}
@font-face {
  font-family: 'helvetica';
  src: url('./files/font/HelveticaLt.ttf') format('truetype');
}

html {
    height: 100%
}

body {
    font-family:'helvetica',sans-serif;
    height: 100%;
    background: url('../files/invite/Wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    margin-top: 30px;
    font-family: edosz;
}

@media (max-width: 768px) {
    h1{font-size: 55px;}
}

@media (min-width: 769px) {
    h1{font-size: 100px;}
}

h2 {
    margin-top: 15px;
    color: rgb(68,148,211)
}

@media (max-width: 768px) {
    h2{font-size: 35px;}
}

@media (min-width: 769px) {
    h2{font-size: 50px;}
}

.step {
    margin-top: 50px;
}

#apply, #device, #ios, #android, #final_ios, #final_android{
    display: none
}

#select_ios, #select_android {
    cursor: pointer;
}

#apply_text {
    line-height: 1.2;
}

@media (max-width: 768px) {
    #apply_text{font-size: 24px;}
}

@media (min-width: 769px) {
    #apply_text{font-size: 30px;}
}

#apply_website {
    font-size: 30px;
    margin-top: 25px;
}

#device img {
    border: rgb(165,165,165) 2px solid;
    box-shadow: 0px 0px 10px rgb(165,165,165);
    border-radius: 25px;
}
#device img:hover {
    border: rgb(68,148,211) 2px solid;
    box-shadow: 0px 0px 10px rgb(68,148,211);
}
input{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
input:focus{
    outline: none;
    box-shadow: 0 0 3pt 2pt rgb(68,148,211);
}
.blink-class { box-shadow: 0 0 3pt 2pt red;}
ol li{
    counter-increment: item;
    list-style: none;
}
ol li:before {
    content: counter(item) ". ";
    color: rgb(68,148,211);
    font-weight: bold;
}

ol {
    padding: 0;
}

#plattform_text {
    clear: both;
    text-align: center;
    letter-spacing: -0.5px;
    padding-top: 25px;
    margin-bottom: 25px;
}
@media (max-width: 768px) {
    #plattform_text{font-size: 22px;}
}

@media (min-width: 769px) {
    #plattform_text{font-size: 32px;}
}

#appleid, #googleid {
    width: 100%;
    height: 83px;
    background: rgb(247,247,247);
    border: rgb(206,209,210) 1px solid;
    font-size: 22px;
    text-align: center;
}

#duplicate_ios, #duplicate_android {
    display: none;
    color: rgb(208,2,27);
    margin-top: 25px;
    font-size: 22px;
}
@media (max-width: 768px) {
    #duplicate_ios, #duplicate_android{font-size: 12px;}
}

@media (min-width: 769px) {
    #duplicate_ios, #duplicate_android{font-size: 22px;}
}

.beta_button{
    vertical-align: middle;
    margin-top: 50px;
    height: 83px;
    cursor: pointer;
    background: rgb(68,148,211);
    color: white;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.9px;
}

#apply_go {
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .beta_button{line-height: 40px;}
}

@media (min-width: 769px) {
    .beta_button{line-height: 83px;}
}

#apple_id_text, #google_id_text{
    text-align: center;
    letter-spacing: -0.5px;
    margin-top: 50px
}

@media (max-width: 768px) {
    #apple_id_text{font-size: 22px;}
    #google_id_text{font-size: 20px;}
}

@media (min-width: 769px) {
    #apple_id_text, #google_id_text{font-size: 32px;}
}

#apple_id_text_sub, #google_id_text_sub{
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    #apple_id_text_sub, #google_id_text_sub{font-size: 14px;}
}

@media (min-width: 769px) {
    #apple_id_text_sub, #google_id_text_sub{font-size: 22px;}
}